<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
  </head>
  <body>
    <div class="container">
          <div class="sidebar">
            <div class="showcard">
              <img src="/img/cry.png" alt="cry image">
            </div>
            <div class="showcard">
              <img src="/img/sad.png" alt="sad image">
            </div>
            <div class="showcard">
              <img src="/img/neutral.png" alt="neutral image">
            </div>
            <div class="showcard">
              <img src="/img/smile.png" alt="smile image">
            </div>
            <div class="showcard">
              <img src="/img/party.png" alt="party image">
            </div>
            <script>$(".showcard").fadeTo("fast",0.33);</script>

          </div>

          <div class="edit-entry">
            <h1>EDIT ENTRY</h1>
            <form action="/logs/<%=log.id%>?_method=PUT" method="POST">

              <fieldset>
                <legend>DAY INFORMATION</legend>

                  <label for ="week">WEEK</label>
                  <input type="number" name="week" value="<%=log.week%>"/>

                  <label for="weekday">WEEKDAY</label>
                  <input type="number" id="weekday" value="<%=log.weekday%>"/>

                  <label for="title">TITLE</label>
                  <input type="text" name="title" value="<%=log.title%>"/>

                  <label for="descriptions">DESCRIPTIONS</label>
                  <input type="text" name="descriptions" value="<%=log.descriptions%>"/>
              </fieldset>

              <fieldset>
                <legend>FEELING</legend>
                  <label for="feeling">HOW ARE YOU FEELING ABOUT THE CONTENT?</label>
                  <div class="btn-feeling">1</div><p>What have I done with my life?</p><br/>
                  <div class="btn-feeling">2</div><p>I'm lost!</p><br/>
                  <div class="btn-feeling">3</div><p>Hanging in there...</p><br/>
                  <div class="btn-feeling">4</div><p>Perfect</p><br/>
                  <div class="btn-feeling">5</div><p>I'm bored, go faster</p>

                  <!-- $(".btn-feeling").on("click", () => {

                  }) -->


              </fieldset>

              <fieldset>
                <legend>DIARY</legend>
                  <label for="vent">VENT</label>
                  <textarea name="vent"><%=log.vent%></textarea>
              </fieldset>

              <input type="submit" value="SUBMIT">
            </form>
          </div>
        </div>







  </body>
</html>
