<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans|Open+Sans&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="sidebar">


        <h1>My gaDiary</h1>

      </div>

      <div class="edit-entry">
<a class="btn-index" href="/logs/new">NEW ENTRY</a>



      <% const highestWeek = Math.max.apply(Math, logs.map(function(obj) { return obj.week; }));
      let weeklyHrsArray = [];
       for (var k = 1; k <= highestWeek; k++) {
        let weeklyLogs = logs.filter(obj => {
          return obj.week === k;
        });

        let weeklyHrs = 0;

        weeklyLogs.forEach((obj) => {
          weeklyHrs += obj["classHrs"]+obj["homeworkHrs"];
        })

        weeklyHrsArray.push(weeklyHrs);

      }

      let maxWeek = Math.max.apply(null, weeklyHrsArray);
      let indexMaxWeek = weeklyHrsArray.indexOf(maxWeek);
      let minWeek = Math.min.apply(null, weeklyHrsArray);
      let indexMinWeek = weeklyHrsArray.indexOf(minWeek);
      %>




      <% let feelingCry = logs.filter(obj => {
            return obj.feeling === 1;
          }).length;

          let feelingSad = logs.filter(obj => {
                return obj.feeling === 2;
          }).length;

          let feelingNeutral = logs.filter(obj => {
                return obj.feeling === 3;
          }).length;

          let feelingSmile = logs.filter(obj => {
                return obj.feeling === 4;
          }).length;

          let feelingParty = logs.filter(obj => {
                return obj.feeling === 5;
          }).length; %>

      <fieldset class="overview">
        <legend><a href="/logs/chart/overview">Overview</a></legend>

        <div class="row">
          <div class="card card-overview">
            <img src="/img/cry.png" alt="cry image">
            <p><%=feelingCry%> days</p>
          </div>

          <div class="card card-overview">
            <img src="/img/sad.png" alt="sad image">
            <p><%=feelingSad%> days</p>
          </div>

          <div class="card card-overview">
            <img src="/img/neutral.png" alt="neutral image">
            <p><%=feelingNeutral%> days</p>
          </div>

          <div class="card card-overview">
            <img src="/img/smile.png" alt="smile image">
            <p><%=feelingSmile%> days</p>
          </div>

          <div class="card card-overview">
            <img src="/img/party.png" alt="party image">
            <p><%=feelingParty%> days</p>
          </div>
        </div>
        <div class="row weeklystat">
          <p>Best week: <%= indexMinWeek+1 %></p>
          <p>Worst week: <%= indexMaxWeek+1 %></p>
        </div>
      </fieldset>

      <%
      <!-- const highestWeek = Math.max.apply(Math, logs.map(function(obj) { return obj.week; })); -->
      <!-- console.log(highestWeek); -->
      <!-- let weeklyHrsArray = []; -->
       for (var k = 1; k <= highestWeek; k++) {
        let weeklyLogs = logs.filter(obj => {
          return obj.week === k;
        });

        let weeklyHrs = 0;
        let avgFeeling = 0;

        weeklyLogs.forEach((obj) => {
          weeklyHrs += obj["classHrs"]+obj["homeworkHrs"];

          avgFeeling += obj["feeling"]*(obj["classHrs"]+obj["homeworkHrs"]);

        })

        avgFeeling = Math.round(avgFeeling/weeklyHrs);%>

      <fieldset>
        <legend><a href="/logs/chart/<%=k%>">Week <%=k%></a></legend>
        <div class="row">
        <% for (var i = 0; i < weeklyLogs.length; i++) { %>
          <a href="/logs/<%=weeklyLogs[i].id%>">
          <div class="card indexcard">
            <%=weeklyLogs[i].title%>

            <% switch (weeklyLogs[i].feeling){
              case 1: %>
                <img src="/img/cry.png" alt="cry image"><%;
                 break;
              case 2: %>
                <img src="/img/sad.png" alt="sad image"><%;
                break;
              case 3: %>
                <img src="/img/neutral.png" alt="neutral image"><%;
                break;
              case 4: %>
                <img src="/img/smile.png" alt="smile image"><%;
                break;
              case 5: %>
                <img src="/img/party.png" alt="party image"><%;
            }

             switch (weeklyLogs[i].weekday){
              case 1: %>
                Mon<%;
                 break;
              case 2: %>
                Tue<%;
                break;
              case 3: %>
                Wed<%;
                break;
              case 4: %>
                Thu<%;
                break;
              case 5: %>
                Fri<%;
                break;
              case 6: %>
                Sat<%;
                break;
              case 7: %>
                Sun<%;
            } %>

          </div>
          </a>

        <% } %>
        </div>

        <div class="row weeklystat">
          <p>Total working hours: <%=weeklyHrs%> hrs week</p>
          <div class="row-feeling">
          <p>Weighted average feeling: <div class="btn-feeling"><%=avgFeeling%></div>
            <p><% switch (avgFeeling){
              case 1: %>
                What have I done with my life?<%;
                 break;
              case 2: %>
                I'm lost<%;
                break;
              case 3: %>
                Hanging in there<%;
                break;
              case 4: %>
                Perfect<%;
                break;
              case 5: %>
                I'm bored, go faster<%;
            } %>
            </p>
          </p>
          </div>
        </div>

      </fieldset>
      <% } %>
</div>
    </div>

  </body>
</html>
